{% extends 'main_app/secretary_page.html' %}
{% block content %}


    <h2>Fees</h2>
    {% if fee %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Year</th>
                        <th>School Fees</th>
                        <th>Paid</th>
                        <th>Previous Debts</th>
                        <th>Exemptions</th>
                        <th>Final Balance</th>
                        <th>Payments</th>

                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ fee.year.yearName }}</td>
                            <td>{{ fee.schoolFees }}</td>
                            <td>{{ fee.paid }}</td>
                            <td>{{ fee.previousDebts }}</td>
                            <td>{{ fee.exemptions }}</td>
                            <td>{{ fee.finalBalance }}</td>
                            <td><a href="{% url 'finance:secretary_payments' fee.student.studentID %}">View Payments</a></td>
                        </tr>
                </tbody>
            </table>
        </div>
        
    <div class="row">
        <div class="col-md-6">
            <h2>Add New Pay</h2>
            <form method="post">
                {% csrf_token %}
                {{ payment_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Edit Exemptions</h2>
            <form method="post">
                {% csrf_token %}
                {{ fees_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
        
    {% else %}
        <div class="alert alert-warning" role="alert">
            No fees available for the selected year.
        </div>
    {% endif %}
    
    


{% endblock %}
