{% extends 'main_app/secretary_page.html' %}

{% block title %}View fee details{% endblock %}

{% block content %}

    <h2>Payments For {{ student.fullName }}</h2>

    {% if payments %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Year</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for pay in payments %}
                <tr>
                    <td>{{ pay.year }}</td>
                    <td>{{ pay.amount }}</td>
                    <td>{{ pay.date }}</td>
                    <td>{{ pay.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="alert alert-warning" role="alert">
        No Payments available.
    </div>
    {% endif %}

{% endblock %}
