{% extends 'main_app/admin_page.html' %}
{% block content %}
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Message Details</h2>
      </div>
      <div class="card-body">
        <div class="mb-3">
          <strong>Message Title:</strong>
          <p>{{ message.title }}</p>
        </div>
        <div class="mb-3">
              <p><strong>From: </strong>
                        {% if message.senderEmployee %}
                            {{ message.senderEmployee.employee.fullName }}
                        {% elif message.senderStudent %}
                            {{ message.senderStudent.student.fullName }}
                        {% elif message.senderParent %}
                            {{ message.senderParent }}
                        {% endif %}
              </p>
        </div>
        <div class="mb-3">
          <strong>Message Content:</strong>
          <p>{{ message.content }}</p>
        </div>
        <div class="mb-3">
          <strong>Message Date:</strong>
          <p>{{ message.date }}</p>
        </div>
        {% if message.file %}
        <div class="mb-3">
          <strong>File:</strong>
          <p><a href="{% url 'communication:download_fileI' message.messageID %}" target="_blank">{{ message.file.name }}</a></p>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
