
{% extends 'main_app/admin_page.html' %}


{% block content %}

    <h1>Students For {{ class.className}} Class/Section {{ section.sectionSymbol }} In {{ subject.name }} Subject:</h1>
    <table>
            <thead>
                <tr>
                    <th>Student FullName:</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                    <td><a href="{% url  'communication:admin_send_message_student' student.studentID %}">{{ student.fullName }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <br>
    <br>
    <a class="btn btn-primary" href="{% url 'communication:admin_send_message_section' year.yearID class.classID section.sectionID %}">Message for All Section Students</a>
    <a class="btn btn-primary" href="{% url 'communication:admin_send_message_class' year.yearID class.classID %}">Message for All Class Students</a>

{% endblock %}
