{% extends 'main_app/student_page.html' %}
{% block content %}
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Message Details</h2>
      </div>
      <div class="card-body">

        <div class="mb-3">
              <p><strong>From: </strong>
                {% if message.senderEmployee %}
                    {{ message.senderEmployee.employee.fullName}}
                {% elif message.senderStudent %}
                    {{ message.senderStudent.student.fullName}}
                {% endif %}
              </p>
        </div>
              <div class="mb-3">
          <strong>Date:</strong>
          {{ message.date }}
        </div>
              <div class="mb-3">
          <strong>Title:</strong>
          {{ message.title }}
        </div>
        <div class="mb-3">
          <strong>Content:</strong>
          <p>{{ message.content }}</p>
        </div>

        {% if message.file %}
        <div class="mb-3">
          <strong>Attachment:</strong>
          <p><a href="{% url 'communication:download_fileI' message.messageID %}" target="_blank">{{ message.file.name }}</a></p>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
