
{% extends 'main_app/home_page.html' %}

{% block title %}Secretary Profile{% endblock %}

{% block links %} 
    <a class="dropdown-item" href="{% url 'users:secretary_view_settings' %}">My Account</a>
    <a class="dropdown-item" href="{% url 'communication:secretary_send_message' %}">New Message</a>
    <a class="dropdown-item" href="{% url 'communication:secretary_view_messages' %}">My Messages</a>
{% endblock %}


{% block options %}
    <li class="nav-item">
        <a href="{% url 'academic:secretary_record_attendenceI' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">Record Attendance</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'health_and_behavioral:secretary_behavioral_recordI' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline"> Behavioral Record</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'health_and_behavioral:seretary_health_recordI' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline"> Health Record</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'finance:secretary_feesI' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">Fees</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'users:secretary_add_student' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">Add Student</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'academic:secretaty_edit_studentI' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">Edit Student</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'communication:secretary_view_adv' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">Adverstiments</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'academic:secretary_new_class' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">New Class</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'academic:secretary_new_section' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">New Section</span>
        </a>
    </li>
    <br>
    <li class="nav-item">
        <a href="{% url 'academic:secretary_new_subject' %}" class="nav-link text-white">
            <span class="fs-4 d-none d-sm-inline">New Subject</span>
        </a>
    </li>

{% endblock %}
