<!-- academic/base_view_grades.html -->
{% extends 'main_app/student_page.html' %}

{% block title %}View Grades{% endblock %}

{% block content %}
            <h2>Grades</h2>

<form method="post" class="d-flex align-items-center" action="{% url 'academic:base_view_grades' %}" style="display: inline;">
    {% csrf_token %}
    <div class="mr-3">
        {{ form_subject.as_p }}
    </div>
    <button type="submit" class="btn btn-primary mb-3">Filter by Subject</button>  
</form>
{#    <form method="post" action="{% url 'academic:base_view_grades' %}" style="display: inline;">#}
{#        {% csrf_token %}#}
{#        {{ form_year.as_p }}#}
{#        <button type="submit" class="btn btn-primary mb-5">Filter by Year</button>#}
{#    </form>#}

    {% block content_grades %}
        {% if grades %}
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Subject</th>
            <th>1'st Quarter</th>
            <th>2'nd Quarter</th>
            <th>1'st Semester</th>
            <th>3'rd Quarter</th>
            <th>4'th Quarter</th>
            <th>2'nd Semester</th>
            <th>Final Average</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            <td>{{ grade.subject.name }}</td>
            <td>{{ grade.firstQuarter }} /25</td>
            <td>{{ grade.secondQuarter }} /25</td>
            <td>{% widthratio grade.firstSemester 1 2 %} /100</td>
            <td>{{ grade.thirdQuarter }} /25</td>
            <td>{{ grade.fourthQuarter }} /25</td>
            <td>{% widthratio grade.secondSemester 1 2 %} /100</td>
            <td>{{ grade.finalAvg }} /100</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        {% else %}
            <p>No grades available.</p>
        {% endif %}
    {% endblock %}
{% endblock %}
