{% extends 'main_app/parent_page.html' %}

{% block content %}
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Subject Details</h1>
      </div>
      <div class="card-body">
        <h2 class="card-subtitle mb-3">{{ subject.name }}</h2>
        <p><strong>Description:</strong> {{ lecture.subjectID.description }}</p>
        <p><strong>Book:</strong> {{ lecture.subjectID.subjectTextBook }}</p>
        <p><strong>Class:</strong> {{ lecture.classID.classNameEnglish }}</p>
        <p><strong>Teacher:</strong> {{ lecture.teacherID.fullName }}</p>
        <p><strong>Room:</strong> {{ lecture.roomNumber }}</p>
        <a href="{% url 'academic:parent_view_weekly_schedule' %}" class="btn btn-primary mt-3">Back to Weekly Schedule</a>
      </div>
    </div>
{% endblock %}
