
{% extends 'main_app/secretary_page.html' %}


    {% block content %}
    <h1>Add Subject</h1>
    <form method="post">
        {% csrf_token %}
        <h2>Subject Information</h2>
        {{ subject_form.as_p }}
        <h2>Class Information</h2>
        {{ class_subject_form.as_p }}
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
<!-- Add this inside your base template or directly in this template -->
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
    {% endblock %}
