<!-- academic/view_grades_subject.html -->
{% extends 'academic/base_view_grades.html' %}

{% block title %}View Grades by Subject{% endblock %}

{% block content_grades %}
    <form method="post" action="{% url 'academic:view_grades_subject' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Filter by Subject</button>
    </form>

    <h2>Grades filtered by Subject for {{ user_name }} in {{ selected_subject }}</h2>
    {% if grades %}
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Subject</th>
            <th>Year</th>
            <th>First Quarter</th>
            <th>Second Quarter</th>
            <th>First Semester</th>
            <th>Third Quarter</th>
            <th>Fourth Quarter</th>
            <th>Second Semester</th>
            <th>Final Average</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            <td>{{ grade.subject.name }}</td>
            <td>{{ grade.year.yearName }}</td>
            <td>{{ grade.firstQuarter }}</td>
            <td>{{ grade.secondQuarter }}</td>
            <td>{{ grade.firstSemester }}</td>
            <td>{{ grade.thirdQuarter }}</td>
            <td>{{ grade.fourthQuarter }}</td>
            <td>{{ grade.secondSemester }}</td>
            <td>{{ grade.finalAvg }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    {% else %}
        <p>No grades available for the selected subject.</p>
    {% endif %}
{% endblock %}
