<!-- academic/base_view_grades.html -->
{% extends 'main_app/student_page.html' %}

{% block title %}View Grades{% endblock %}

{% block content %}
    <form method="post" action="{% url 'academic:view_exams' %}" style="display: inline;">
        {% csrf_token %}
        {{ form_subject.as_p }}
        <button type="submit" class="btn btn-primary mb-5">Filter by Subject</button>
    </form>

    {% block content_exams %}
        <h2>All exams for All Subjects </h2>
        {% if exams %}
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Subject</th>
            <th>Year</th>
            <th>Exam Title</th>
            <th>Exam date</th>
            <th>Exam Grade</th>
            <th>Exam Final Grade</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.subject.name }}</td>
            <td>{{ exam.year.yearName }}</td>
            <td>{{ exam.title }}</td>
            <td>{{ exam.date }}</td>
            <td>{{ exam.examGrade }}</td>
            <td>{{ exam.finalGrade }}</td>
            <td>{{ exam.teacher.fullName }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        {% else %}
            <p>No exams available.</p>
        {% endif %}
    {% endblock %}
{% endblock %}
