{% extends 'main_app/admin_page.html' %}

{% block content %}
    <h1 class="mb-4">Add User Employee for {{ employee.fullName }}</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            {% for field in form %}
                <div class="form-group col-md-12">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                        <div class="invalid-feedback" style="display: block;">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add</button>
    </form>

    <script>
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
{% endblock %}
