{% extends 'main_app/student_page.html' %}
{% block content %}
    <h1>Change Password</h1>

<form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-row">
            {% for field in form %}
                <div class="form-group col-md-12">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>

    <a href="{% url 'users:view_settings' %}">Back to Settings</a>
{% endblock %}
