{% extends 'main_app/secretary_page.html' %}

{% block content %}

            <div class="card mt-2">
                <div class="card-body">
                    <h1 class="card-title  mb-4">User Profile</h1>
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <hr>
                    <h2 class="mt-4 mb-3">Employee Information</h2>
                    <p><strong>Full Name:</strong> {{ teacher.fullName }}</p>
                    <p><strong>Other Full Name:</strong> {{ teacher.fullNameOther }}</p>
                    <p><strong>Identification Number:</strong> {{ teacher.identificationNumber }}</p>
                    <p><strong>City:</strong> {{ teacher.empolyeeCity }}</p>
                    <p><strong>Address:</strong> {{ teacher.address }}</p>
                    <p><strong>Birth Date:</strong> {{ teacher.birthDate }}</p>
                    <p><strong>Phone:</strong> {{ teacher.phone }}</p>
                    <p><strong>Certificate:</strong> {{ teacher.certificate }}</p>
                    <p><strong>Major:</strong> {{ teacher.major }}</p>
                    <p><strong>Employment Date:</strong> {{ teacher.employmentDate }}</p>
                </div>
            </div>
            <a href="{% url 'users:secretary_view_settings' %}" class="btn btn-secondary mt-4">Back to Settings</a>
        
    

{% endblock %}
